.popoverContainer {
    padding: 0;
    min-width: 100px;
}

.popover-content {
    padding: 0;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    border: none;
    padding: 5px 15px;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: white;
}

.selected {
    background: #f5f5f5 !important;
}
